<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CD Organizer</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    <h1>Add a CD</h1>
    <p>Add a CD to your collection:</p>

    <form action="/records" method="post">
      <label for=recordTitle>Record Title</label>
      <input id="recordTitle" name="recordTitle" type="text">
      <button type="submit">Add</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/categories">Back to CDs.</a></p>
  </body>
</html>